/*$(document.head).append('<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yacobgugsa/abc@master/meiryo.css">');*/
@font-face {
    font-family: 'Meiryo';
    src: url('https://cdn.jsdelivr.net/gh/yacobgugsa/abc@master/Meiryo.ttf');
    font-weight: 100;
    font-style: normal;
} 
